.form {
  display:  flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  max-width: 500px;
  padding: 1rem;
  margin: 10px;
  border: rgb(72, 2, 91) 1px solid;
  border-radius: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-group__input {
height: 2rem;
padding: 5px;
border: blue 1px solid;
border-radius: 10px;

&:focus {
  outline: none;
  border-color: green;
}

&.invalid {
  border-color: red;
}
}

.error {
  color: red;
}

.area {
  resize: none;
  overflow: auto;
  height: 4rem;
  scrollbar-width: thin;
  scrollbar-color: #654c93 #0b33ad;

  //watch how to do beautifyl scrollbar

  // &::-webkit-scrollbar {
  //   width: 8px; /* Set the width of the scrollbar */
  // }

  // &::-webkit-scrollbar-track {
  //   background-color: #b112d8; /* Set the background color of the scrollbar track */
  // }

  // &::-webkit-scrollbar-thumb {
  //   background-color: rgb(224, 217, 217);
  // }
}
