.form {
  display:  flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 350px;
  padding: 1rem;
  margin: 10px auto;
  border: rgb(72, 2, 91) 1px solid;
  border-radius: 1rem;

  @media(max-width: 460px) {
    width: 200px;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-group__input {
height: 2rem;
padding: 5px;
border: blue 1px solid;
border-radius: 10px;

  &:focus {
  outline: none;
  border-color: green;
  }

  &.invalid {
  border-color: red;
  }
}

.error {
  color: red;
}

.area {
  resize: none;
  overflow: auto;
  height: 4rem;
}
